/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inter-v13-latin-regular.woff2') format('woff2');
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/inter-v13-latin-500.woff2') format('woff2');
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/inter-v13-latin-600.woff2') format('woff2');
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inter-v13-latin-700.woff2') format('woff2');
}
/* inter-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/inter-v13-latin-800.woff2') format('woff2');
}
body {
  font-family: "Inter", sans-serif;
  --tab-block-margin: 0px;
  --tab-border-radius: 10px;
  --inline-tab-padding: 12px;
  --tab-min-height: 34px;
  --tab-top-margin: 0px;
  --tab-block-margin: var(--tab-top-margin) 0;
  /* toolbar buttons (+ extensions, favorites) */
  --toolbarbutton-border-radius: 20px;
  --toolbarbutton-hover-background: #EEEEEE;
  /* tabs */
  --tab-font-weight: 400;
  --browser-background: #DEE1E6;
  --tab-hovered-color: #EAECEF;
  --tab-selected-color: #fff;
  --tab-multiselected-color: color-mix(in oklab, var(--focus-outline-color) 20%, var(--tab-hovered-color));
  --tab-multiselected-hovered-color: color-mix(in oklab, var(--focus-outline-color) 10%, var(--tab-hovered-color));
  /* tab separator */
  --tab-separator-margin: 8px;
  --tab-separator-width: 2px;
  /*set to 0 to disable separators*/
  --tab-separator-color: rgba(0, 0, 0, 0.1);
  /* url/search bar */
  --urlbar-icon-border-radius: 20px;
  --urlbar-container-padding: 5px;
  /* accent colors */
  --system-color-accent: #1E64D4;
  --system-color-accent-hover: color-mix(in oklab, #fff 10%, var(--system-color-accent));
  --system-color-accent-active: color-mix(in oklab, #000 20%, var(--system-color-accent));
  --color-accent-primary: var(--system-color-accent);
  --color-accent-primary-hover: var(--system-color-accent-hover);
  --color-accent-primary-active: var(--system-color-accent-active);
  --button-primary-bgcolor: var(--color-accent-primary);
  --button-primary-hover-bgcolor: var(--color-accent-primary-hover);
  --button-primary-active-bgcolor: var(--color-accent-primary-active);
  --toolbar-field-focus-border-color: var(--focus-outline-color);
  --focus-outline: var(--focus-outline-width) solid var(--focus-outline-color);
  --focus-outline-color: var(--color-accent-primary);
  /* focus outline */
  --focus-outline-width: 2px;
  --focus-outline-inset: calc(-1 * var(--focus-outline-width));
  --focus-outline-offset: 2px;
}
html[sizemode="normal"] body {
  --tab-top-margin: 10px;
}
html[lwtheme-brighttext="true"] body {
  --toolbarbutton-hover-background: rgba(255, 255, 255, 0.1);
}
html[lwtheme-brighttext="true"] body {
  --browser-background: #1C1B22;
}
html[lwtheme-brighttext="true"] body {
  --tab-hovered-color: #42414D;
}
html[lwtheme-brighttext="true"] body {
  --tab-selected-color: #42414D;
}
#tabbrowser-tabs ~ #alltabs-button {
  display: flex;
}
#TabsToolbar {
  background: var(--browser-background);
}
.titlebar-spacer[type="post-tabs"],
.titlebar-spacer[type="pre-tabs"] {
  display: none;
}
#tabbrowser-tabs {
  margin-right: 40px;
}
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  height: calc(2 * 5px + 16px) !important;
  width: calc(2 * 5px + 16px) !important;
  padding: 5px !important;
  border-radius: 50% !important;
  transition: all 200ms cubic-bezier(0, 0.5, 0, 1), background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background-color: rgba(0, 0, 0, 0.2) !important;
  transition: all 0ms !important;
}
#tabs-newtab-button {
  margin-left: 5px !important;
}
#tabbrowser-arrowscrollbox {
  --tab-min-width: 64px;
}
#tabbrowser-arrowscrollbox[overflowing="true"] {
  padding-left: 8px;
}
.tabbrowser-tab {
  padding: 0px !important;
  overflow-clip-margin: var(--tab-border-radius) !important;
  position: relative;
  z-index: 0;
}
#tabbrowser-arrowscrollbox:not([overflowing="true"]) .tabbrowser-tab:first-child {
  margin-left: 8px !important;
}
#tabbrowser-arrowscrollbox[overflowing="true"] .tabbrowser-tab[pinned="true"] {
  -webkit-transform: translate(8px, 0);
          transform: translate(8px, 0);
}
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  content: "";
  width: calc(var(--tab-border-radius) + 1px);
  height: var(--tab-border-radius);
  position: absolute;
  bottom: 0;
  opacity: 0;
  background: var(--tab-hovered-color);
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
.tabbrowser-tab .tab-label-container {
  font-weight: var(--tab-font-weight);
}
.tabbrowser-tab::before {
  left: calc(0px - var(--tab-border-radius));
  -webkit-mask-image: radial-gradient(circle calc(var(--tab-border-radius) / 2) at 0 0, transparent 0, transparent var(--tab-border-radius), black calc(var(--tab-border-radius) + 1px));
}
.tabbrowser-tab::after {
  right: calc(0px - var(--tab-border-radius));
  -webkit-mask-image: radial-gradient(circle calc(var(--tab-border-radius) / 2) at calc(var(--tab-border-radius) + 1px) 0, transparent 0, transparent var(--tab-border-radius), black calc(var(--tab-border-radius) + 1px));
}
.tabbrowser-tab:hover {
  background: var(--tab-hovered-color);
}
.tabbrowser-tab:hover::before,
.tabbrowser-tab:hover::after {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
.tabbrowser-tab:active,
.tabbrowser-tab[selected="true"] {
  z-index: 1;
  background: var(--tab-selected-color);
}
.tabbrowser-tab:active::before,
.tabbrowser-tab[selected="true"]::before,
.tabbrowser-tab:active::after,
.tabbrowser-tab[selected="true"]::after {
  opacity: 1;
  background: var(--tab-selected-color);
}
.tabbrowser-tab[multiselected="true"] .tab-label-container {
  color: color-mix(in oklab, #000 10%, var(--focus-outline-color));
}
.tabbrowser-tab[multiselected="true"]::before,
.tabbrowser-tab[multiselected="true"]::after {
  opacity: 1;
  background: var(--tab-multiselected-color);
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
.tabbrowser-tab[multiselected="true"]:hover {
  z-index: 2;
}
.tabbrowser-tab[multiselected="true"]:hover::before,
.tabbrowser-tab[multiselected="true"]:hover::after {
  background-color: var(--tab-multiselected-hovered-color);
}
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([pinned]) {
  transition: min-width 250ms cubic-bezier(0.2, 0, 0, 1), max-width 250ms cubic-bezier(0.2, 0, 0, 1) !important;
}
.tabbrowser-tab:not([labelendaligned], :hover) > .tab-stack > .tab-content > .tab-close-button {
  width: 24px !important;
  padding: 6px !important;
}
.tab-close-button {
  transition: width 100ms ease, -webkit-padding-start 100ms ease;
  transition: width 100ms ease, padding-inline-start 100ms ease;
  transition: width 100ms ease, padding-inline-start 100ms ease, -webkit-padding-start 100ms ease;
  border-radius: 50% !important;
}
.tab-close-button:hover,
.tab-close-button:active {
  transition: all 0ms !important;
}
.tab-background {
  height: 100% !important;
  border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0 !important;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.01) inset;
  background-color: var(--tab-hovered-color) !important;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon,
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]) {
  background-color: var(--tab-hovered-color) !important;
  opacity: 1;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
.tab-background:is([selected]),
.tabbrowser-tab:active > .tab-stack > .tab-background {
  background: var(--tab-selected-color) !important;
  opacity: 1;
  transition: 0ms;
}
.tab-background[multiselected="true"] {
  outline: none !important;
  background: var(--tab-multiselected-color) !important;
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
  opacity: 1;
}
.tabbrowser-tab:hover .tab-background[multiselected="true"] {
  background-color: var(--tab-multiselected-hovered-color) !important;
}
.tab-content {
  padding-top: var(--tab-top-margin) !important;
}
.tab-content::after {
  content: "";
  width: var(--tab-separator-width);
  height: calc(var(--tab-min-height) - calc(var(--tab-separator-margin) * 2));
  position: absolute;
  left: calc(0px - (var(--tab-separator-width) / 2));
  bottom: var(--tab-separator-margin);
  background: var(--tab-separator-color);
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
.tabbrowser-tab:hover .tab-content::after,
.tabbrowser-tab:hover + .tabbrowser-tab .tab-content::after,
.tabbrowser-tab[selected]:not([multiselected]) .tab-content::after,
.tabbrowser-tab[selected]:not([multiselected]) + .tabbrowser-tab .tab-content::after {
  opacity: 0;
}
#tabbrowser-arrowscrollbox:not([overflowing="true"]) .tabbrowser-tab:first-child .tab-content::after {
  display: none;
}
.browser-toolbar:not(.titlebar-color) {
  background: var(--tab-selected-color) !important;
}
toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 6px !important;
}
#PersonalToolbar {
  padding-bottom: 2px;
}
#PersonalToolbar .toolbarbutton-1:not(:hover: active, :active),
#tabbrowser-arrowscrollbox::part(scrollbutton-up):not(:hover: active, :active),
#tabbrowser-arrowscrollbox::part(scrollbutton-down):not(:hover: active, :active),
toolbarbutton.bookmark-item:not(:hover: active, :active) {
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
toolbar .toolbarbutton-1:not([open], [checked], : hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([open], [checked], : hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([open], [checked], : hover:active) > .toolbarbutton-badge-stack {
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  z-index: 1;
  position: relative;
  border-radius: 0px !important;
}
#nav-bar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack {
  background-color: transparent !important;
}
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background-color: transparent !important;
}
panelview .toolbarbutton-1:not([disabled]):hover,
.widget-overflow-list .toolbarbutton-1:not([disabled]):hover {
  background: transparent !important;
}
#nav-bar .toolbarbutton-1 {
  position: relative;
}
#nav-bar .toolbarbutton-1::before {
  display: block;
  content: "";
  border-radius: var(--toolbarbutton-border-radius);
  position: absolute;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
  top: calc(50% - 8px - var(--toolbarbutton-inner-padding));
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#nav-bar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover::before {
  background-color: var(--toolbarbutton-hover-background);
}
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)::before {
  transition: 0ms;
  background-color: var(--toolbarbutton-active-background);
}
.PanelUI-subView toolbarseparator.proton-zap {
  -o-border-image: none !important;
     border-image: none !important;
}
#sidebar-search-container {
  padding: 8px 15px !important;
}
#search-box {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  border-radius: 30px !important;
  padding: 8px 13px !important;
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#search-box:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
#search-box[focused="true"] {
  transition: 0ms;
  background-color: #fff !important;
  box-shadow: 0 0 0 2px var(--focus-outline-color), 0 3px 6px 2px rgba(0, 120, 215, 0.05);
}
#viewButton {
  -webkit-margin-start: 5px !important;
          margin-inline-start: 5px !important;
  border-radius: 30px !important;
  padding: 5px 10px !important;
  border: 0px !important;
}
#urlbar[focused="true"]:not([suppress-focus-border]) > #urlbar-background,
#searchbar:focus-within {
  outline: var(--focus-outline);
  outline-offset: var(--focus-outline-inset);
  outline-color: var(--toolbar-field-focus-border-color);
  border-color: transparent;
}
#urlbar[focused="true"] > #urlbar-background,
#searchbar:focus-within {
  box-shadow: 0 3px 6px rgba(0, 120, 215, 0.05) !important;
}
#urlbar[open] > #urlbar-background {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1) !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-background {
  -webkit-animation-timing-function: cubic-bezier(0, 1, 0, 1) !important;
          animation-timing-function: cubic-bezier(0, 1, 0, 1) !important;
  -webkit-animation-duration: 400ms !important;
          animation-duration: 400ms !important;
}
#urlbar[breakout][breakout-extend] > #urlbar-input-container {
  height: var(--urlbar-toolbar-height);
  padding-block: calc((var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2 + var(--urlbar-container-padding));
  padding-inline: calc(var(--urlbar-margin-inline) + var(--urlbar-container-padding));
}
#urlbar .search-one-offs:not([hidden]) {
  background: rgba(0, 0, 0, 0.01);
  padding: 3px 5px !important;
  margin-top: 5px;
  margin-bottom: calc(5px + var(--urlbar-container-padding));
  box-sizing: border-box;
  border-radius: calc(var(--urlbar-icon-border-radius) - 6px);
  border: 1px solid rgba(0, 0, 0, 0.03) !important;
}
