/* inter-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/inter-v13-latin-regular.woff2') format('woff2');
}
/* inter-500 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('fonts/inter-v13-latin-500.woff2') format('woff2');
}
/* inter-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  src: url('fonts/inter-v13-latin-600.woff2') format('woff2');
}
/* inter-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('fonts/inter-v13-latin-700.woff2') format('woff2');
}
/* inter-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('fonts/inter-v13-latin-800.woff2') format('woff2');
}
body {
  font-family: "Inter", sans-serif;
  --tab-block-margin: 0px;
  --tab-border-radius: 10px;
  --inline-tab-padding: 12px;
  --tab-min-height: 34px;
  --tab-top-margin: 0px;
  --tab-block-margin: var(--tab-top-margin) 0;
  --toolbarbutton-border-radius: 20px;
  --urlbar-icon-border-radius: 20px;
  --toolbarbutton-hover-background: #EEEEEE;
}
html[sizemode="normal"] body {
  --tab-top-margin: 10px;
}
html[lwtheme-brighttext="true"] body {
  --toolbarbutton-hover-background: rgba(255, 255, 255, 0.1);
}
#tabbrowser-tabs ~ #alltabs-button {
  display: flex;
}
#TabsToolbar {
  background: #DEE1E6!important;
}
html[lwtheme-brighttext="true"] #TabsToolbar {
  background: #1C1B22!important;
}
.titlebar-spacer[type="post-tabs"],
.titlebar-spacer[type="pre-tabs"] {
  display: none;
}
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  height: calc(2 * 5px + 16px) !important;
  width: calc(2 * 5px + 16px) !important;
  padding: 5px !important;
  border-radius: 50% !important;
  transition: all 200ms cubic-bezier(0, 0.5, 0, 1), background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover > .toolbarbutton-badge-stack {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text,
#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background-color: rgba(0, 0, 0, 0.2) !important;
  transition: all 0ms !important;
}
#tabs-newtab-button {
  margin-left: 5px !important;
}
#tabbrowser-arrowscrollbox {
  --tab-min-width: 64px;
}
#tabbrowser-arrowscrollbox[overflowing="true"] {
  padding-left: 8px;
}
.tabbrowser-tab {
  padding: 0px !important;
  overflow-clip-margin: 10px !important;
  position: relative;
  z-index: 0;
}
#tabbrowser-arrowscrollbox:not([overflowing="true"]) .tabbrowser-tab:first-child {
  margin-left: 8px!important;
}
#tabbrowser-arrowscrollbox[overflowing="true"] .tabbrowser-tab[pinned="true"] {
  -webkit-transform: translate(8px, 0);
          transform: translate(8px, 0);
}
.tabbrowser-tab::before,
.tabbrowser-tab::after {
  content: "";
  width: 11px;
  height: 10px;
  position: absolute;
  bottom: 0;
  opacity: 0;
  background: #EAECEF;
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
html[lwtheme-brighttext="true"] .tabbrowser-tab::before,
html[lwtheme-brighttext="true"] .tabbrowser-tab::after {
  background: #2B2A33;
}
.tabbrowser-tab::before {
  left: -10px;
  -webkit-mask-image: radial-gradient(circle calc(10px / 2) at 0 0, transparent 0, transparent 10px, black calc(10px + 1px));
}
.tabbrowser-tab::after {
  right: -10px;
  -webkit-mask-image: radial-gradient(circle calc(10px / 2) at 11px 0, transparent 0, transparent 10px, black calc(10px + 1px));
}
.tabbrowser-tab:hover {
  background: #EAECEF;
}
html[lwtheme-brighttext="true"] .tabbrowser-tab:hover {
  background: #2B2A33;
}
.tabbrowser-tab:hover::before,
.tabbrowser-tab:hover::after {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
.tabbrowser-tab:active,
.tabbrowser-tab[selected="true"] {
  z-index: 1;
  background: #fff;
}
html[lwtheme-brighttext="true"] .tabbrowser-tab:active,
html[lwtheme-brighttext="true"] .tabbrowser-tab[selected="true"] {
  background: #42414D;
}
.tabbrowser-tab:active::before,
.tabbrowser-tab[selected="true"]::before,
.tabbrowser-tab:active::after,
.tabbrowser-tab[selected="true"]::after {
  opacity: 1;
  background: #fff;
}
html[lwtheme-brighttext="true"] .tabbrowser-tab:active::before,
html[lwtheme-brighttext="true"] .tabbrowser-tab[selected="true"]::before,
html[lwtheme-brighttext="true"] .tabbrowser-tab:active::after,
html[lwtheme-brighttext="true"] .tabbrowser-tab[selected="true"]::after {
  background: #42414D;
}
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([pinned]) {
  transition: min-width 250ms cubic-bezier(0.2, 0, 0, 1), max-width 250ms cubic-bezier(0.2, 0, 0, 1) !important;
}
.tabbrowser-tab:not([labelendaligned], :hover) > .tab-stack > .tab-content > .tab-close-button {
  width: 24px !important;
  padding: 6px !important;
}
.tab-close-button {
  transition: width 100ms ease, -webkit-padding-start 100ms ease;
  transition: width 100ms ease, padding-inline-start 100ms ease;
  transition: width 100ms ease, padding-inline-start 100ms ease, -webkit-padding-start 100ms ease;
  border-radius: 50% !important;
}
.tab-close-button:hover,
.tab-close-button:active {
  transition: all 0ms !important;
}
.tab-background {
  height: 100% !important;
  border-radius: 10px 10px 0 0 !important;
  box-shadow: -1px 0 0 rgba(0, 0, 0, 0.01) inset;
  background-color: #EAECEF!important;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0, 0.5, 0, 1);
}
html[lwtheme-brighttext="true"] .tab-background {
  background-color: #42414D!important;
}
#TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon,
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]) {
  background-color: #EAECEF!important;
  opacity: 1;
}
html[lwtheme-brighttext="true"] #TabsToolbar #firefox-view-button:hover:not([open]) > .toolbarbutton-icon,
html[lwtheme-brighttext="true"] .tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected], [multiselected]) {
  background-color: #2B2A33!important;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
  box-shadow: none !important;
}
#TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
.tab-background:is([selected],
	[multiselected]) {
  background: #fff!important;
  opacity: 1;
  transition: 0ms;
}
html[lwtheme-brighttext="true"] #TabsToolbar #firefox-view-button[open] > .toolbarbutton-icon,
html[lwtheme-brighttext="true"] .tab-background:is([selected],
	[multiselected]) {
  background: #42414D!important;
}
.tab-content {
  padding-top: var(--tab-top-margin) !important;
}
.browser-toolbar:not(.titlebar-color) {
  background: #fff!important;
}
html[lwtheme-brighttext="true"] .browser-toolbar:not(.titlebar-color) {
  background: #42414D!important;
}
toolbarbutton.bookmark-item:not(.subviewbutton) {
  padding: 6px !important;
}
#PersonalToolbar {
  padding-bottom: 2px;
}
#PersonalToolbar .toolbarbutton-1:not(:hover:active, :active),
#tabbrowser-arrowscrollbox::part(scrollbutton-up):not(:hover:active, :active),
#tabbrowser-arrowscrollbox::part(scrollbutton-down):not(:hover:active, :active),
toolbarbutton.bookmark-item:not(:hover:active, :active) {
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
toolbar .toolbarbutton-1:not([open], [checked], :hover:active) > .toolbarbutton-icon,
toolbar .toolbarbutton-1:not([open], [checked], :hover:active) > .toolbarbutton-text,
toolbar .toolbarbutton-1:not([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  z-index: 1;
  position: relative;
  border-radius: 0px!important;
}
#nav-bar .toolbarbutton-1:not([disabled="true"],  [checked], [open], :active):hover > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled="true"],  [checked], [open], :active):hover > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled="true"],  [checked], [open], :active):hover > .toolbarbutton-badge-stack {
  background-color: transparent!important;
}
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text,
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack {
  background-color: transparent!important;
}
panelview .toolbarbutton-1:not([disabled]):hover,
.widget-overflow-list .toolbarbutton-1:not([disabled]):hover {
  background: transparent!important;
}
#nav-bar .toolbarbutton-1 {
  position: relative;
}
#nav-bar .toolbarbutton-1::before {
  display: block;
  content: "";
  border-radius: var(--toolbarbutton-border-radius);
  position: absolute;
  width: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
  height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
  top: calc(50% - 8px - var(--toolbarbutton-inner-padding));
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#nav-bar .toolbarbutton-1:not([disabled="true"],  [checked], [open], :active):hover::before {
  background-color: var(--toolbarbutton-hover-background);
}
#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)::before {
  transition: 0ms;
  background-color: var(--toolbarbutton-active-background);
}
.PanelUI-subView toolbarseparator.proton-zap {
  -o-border-image: none!important;
     border-image: none!important;
}
#sidebar-search-container {
  padding: 8px 15px!important;
}
#search-box {
  -webkit-appearance: none!important;
     -moz-appearance: none!important;
          appearance: none!important;
  background-color: rgba(0, 0, 0, 0.05) !important;
  border-radius: 30px!important;
  padding: 8px 13px!important;
  transition: background-color 400ms cubic-bezier(0, 0.5, 0, 1);
}
#search-box:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
#search-box[focused="true"] {
  transition: 0ms;
  background-color: #fff !important;
  box-shadow: 0 0 0 2px #0078D7, 0 3px 6px 2px rgba(0, 120, 215, 0.05);
}
#viewButton {
  -webkit-margin-start: 5px!important;
          margin-inline-start: 5px!important;
  border-radius: 30px!important;
  padding: 5px 10px !important;
  border: 0px!important;
}
