// @import "icons";
@import "fonts";

// Options //

@tab-border-radius: 10px;
@top-margin-when-windowed: true;
@hide-all-tabs-button: false;

// Utilities //
@snap-easing : cubic-bezier(0, .5, 0, 1);

//for managing light and dark theme
.light-dark(@option,@light,@dark){
	&{
		@{option}:@light;
	}
	html[lwtheme-brighttext="true"] &{
		@{option}:@dark;
	}
}
//for setting options in windowed mode (as opposed to maximized)
.windowed(@option,@windowed,@fallback){
	&{
		@{option}:@fallback;
	}
	html[sizemode="normal"] &{
		@{option}:@windowed;
	}
}

body {
	font-family: "Inter",sans-serif;
	--tab-block-margin: 0px;
	--tab-border-radius: 10px;
	--inline-tab-padding: 12px;
	--tab-min-height: 34px;
	.windowed(--tab-top-margin,if(@top-margin-when-windowed,10px,0px),0px);
	--tab-block-margin: var(--tab-top-margin) 0;
	--toolbarbutton-border-radius: 20px;
	--urlbar-icon-border-radius: 20px;
	.light-dark(--toolbarbutton-hover-background,#EEEEEE,rgba(255,255,255,.1));
}

#tabbrowser-tabs~#alltabs-button {
	display:if(@hide-all-tabs-button,none,flex);
}

#TabsToolbar {
	.light-dark(background,~"#DEE1E6!important", ~"#1C1B22!important");
}

.titlebar-spacer[type="post-tabs"],
.titlebar-spacer[type="pre-tabs"] {
	display: none;
}

.toolbarbutton-icon,
.toolbarbutton-text,
.toolbarbutton-badge-stack {
	#TabsToolbar .toolbarbutton-1>& {
		height: calc(2 * 5px + 16px) !important;
		width: calc(2 * 5px + 16px) !important;
		padding: 5px !important;
		border-radius: 50% !important;
		transition: all 200ms @snap-easing, background-color 400ms @snap-easing;
	}

	// hover
	#TabsToolbar .toolbarbutton-1:not([disabled="true"], [checked], [open], :active):hover>& {
		background-color: rgba(0, 0, 0, .1) !important;
	}

	// active
	#TabsToolbar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active)>& {
		background-color: rgba(0, 0, 0, .2) !important;
		transition: all 0ms !important;
	}
}

#tabs-newtab-button {
	margin-left: 5px !important;
}

#tabbrowser-arrowscrollbox {
	//padding-left: 8px;
	--tab-min-width: 64px;
	&[overflowing="true"]{
		padding-left: 8px;
	}
}

.tabbrowser-tab {
	padding: 0px !important;
	overflow-clip-margin: @tab-border-radius !important;
	position: relative;
	z-index: 0;

	#tabbrowser-arrowscrollbox:not([overflowing="true"]) &:first-child{
		margin-left:8px!important;
	}
	#tabbrowser-arrowscrollbox[overflowing="true"] &[pinned="true"]{
		transform:translate(8px, 0);
	}


	&::before,
	&::after {
		content: "";
		width: @tab-border-radius + 1;
		height: @tab-border-radius;
		position: absolute;
		bottom: 0;
		opacity: 0;
		.light-dark(background,#EAECEF,#2B2A33);
		transition: opacity 400ms @snap-easing;
	}

	&::before {
		left: -@tab-border-radius;
		-webkit-mask-image: radial-gradient(circle calc(@tab-border-radius / 2) at 0 0, transparent 0, transparent @tab-border-radius, black calc(@tab-border-radius + 1px));
	}

	&::after {
		right: -@tab-border-radius;
		-webkit-mask-image: radial-gradient(circle calc(@tab-border-radius / 2) at @tab-border-radius + 1 0, transparent 0, transparent @tab-border-radius, black calc(@tab-border-radius + 1px));
	}

	&:hover {
		.light-dark(background,#EAECEF,#2B2A33);

		&::before,
		&::after {
			opacity: 1;
			transition: opacity 400ms @snap-easing;
		}
	}

	&:active,
	&[selected="true"] {
		z-index: 1;
		.light-dark(background,#fff,#42414D);

		&::before,
		&::after {
			opacity: 1;
			.light-dark(background,#fff,#42414D);
		}
	}


}


// .tabbrowser-tab[visuallyselected="true"]{
//   --tab-min-width: 64px;
// }

#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:not([pinned]) {
	transition: min-width 250ms cubic-bezier(.2, 0, 0, 1), max-width 250ms cubic-bezier(.2, 0, 0, 1) !important;
}

.tabbrowser-tab:not([labelendaligned], :hover)>.tab-stack>.tab-content>.tab-close-button {
	width: 24px !important;
	padding: 6px !important;
}

.tab-close-button {
	transition: width 100ms ease, padding-inline-start 100ms ease;
	border-radius: 50% !important;
	&:hover,
	&:active {
		transition: all 0ms !important;
	}
}

.tab-background {
	height: 100% !important;
	border-radius: @tab-border-radius @tab-border-radius 0 0 !important;
	box-shadow: -1px 0 0 rgba(0, 0, 0, .01) inset;
	.light-dark(background-color,~"#EAECEF!important",~"#42414D!important");
	opacity: 0;
	transition: opacity 400ms @snap-easing;
}

#TabsToolbar #firefox-view-button:hover:not([open])>.toolbarbutton-icon,
.tabbrowser-tab:hover>.tab-stack>.tab-background:not([selected], [multiselected]) {
	.light-dark(background-color,~"#EAECEF!important",~"#2B2A33!important") ;
	opacity: 1;
}

#TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon,
#tabbrowser-tabs:not([noshadowfortests]) .tab-background:is([selected], [multiselected]) {
	box-shadow: none !important;
}

#TabsToolbar #firefox-view-button[open]>.toolbarbutton-icon,
.tab-background:is([selected],
	[multiselected]) {
	.light-dark(background,~"#fff!important",~"#42414D!important");
	opacity: 1;
	transition: 0ms;
}



.tab-content {
	padding-top: var(--tab-top-margin)!important;
}

.browser-toolbar:not(.titlebar-color) {
	.light-dark(background,~"#fff!important",~"#42414D!important");
}

// #personal-toolbar-empty-description,
// #PersonalToolbar .toolbarbutton-1,
toolbarbutton.bookmark-item:not(.subviewbutton) {
	padding: 6px !important;
}

#PersonalToolbar {
	padding-bottom: 2px;
}

#PersonalToolbar .toolbarbutton-1,
#tabbrowser-arrowscrollbox::part(scrollbutton-up),
#tabbrowser-arrowscrollbox::part(scrollbutton-down),
toolbarbutton.bookmark-item {
	&:not(:hover:active, :active) {
		transition: background-color 400ms @snap-easing;
	}
}
.toolbarbutton-icon,
.toolbarbutton-text,
.toolbarbutton-badge-stack {
	toolbar .toolbarbutton-1:not([open], [checked], :hover:active)>& {
		transition: background-color 400ms @snap-easing;
	}
	#nav-bar .toolbarbutton-1 > &{
		z-index: 1;
		position: relative;
		border-radius: 0px!important;
	}
	#nav-bar .toolbarbutton-1:not([disabled="true"],  [checked], [open], :active):hover > &{
		background-color: transparent!important;
	}
	#nav-bar .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > &{
		background-color: transparent!important;
	}
}
//extension bg fix
panelview .toolbarbutton-1,
// toolbarbutton.subviewbutton,
.widget-overflow-list .toolbarbutton-1{
	&:not([disabled]):hover{
		background:transparent!important;
	}
}

#nav-bar .toolbarbutton-1{
	position: relative;

	&::before{
		display: block;
		content:"";
		border-radius: var(--toolbarbutton-border-radius);
		position: absolute;
		width: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
		height: calc(2 * var(--toolbarbutton-inner-padding) + 16px);
		top: calc(50% - 8px - var(--toolbarbutton-inner-padding));
		transition: background-color 400ms @snap-easing;
	}
	&:not([disabled="true"],  [checked], [open], :active):hover::before{
		background-color: var(--toolbarbutton-hover-background);
	}
	&:not([disabled="true"]):is([open], [checked], :hover:active)::before{
		transition:0ms;
		background-color: var(--toolbarbutton-active-background);
	}
	
}
html[lwt-toolbar-field-focus-brighttext="true"]{ //
	
}
.PanelUI-subView toolbarseparator.proton-zap{
	border-image:none!important;
}

#sidebar-search-container{
	padding: 8px 15px!important;
}

#search-box{
	appearance: none!important;
  background-color: rgba(0,0,0,.05)!important;
  border-radius:30px!important;
  padding:8px 13px!important;
  transition: background-color 400ms @snap-easing;
  &:hover {
  	background-color: rgba(0,0,0,.1)!important;
  }
  &[focused="true"] {
  	transition: 0ms;
  	background-color: #fff!important;
  	box-shadow: 0 0 0 2px #0078D7,0 3px 6px 2px rgba(0, 120, 215, .05);
  }
}
#viewButton{
	margin-inline-start: 5px!important;
  border-radius: 30px!important;
  padding: 5px 10px !important;
  border:0px!important;
}
// .subviewbutton{
// 	background:red!important;
// }